<ion-view view-title="Welcome">
	<ion-content class="padding">
		<ion-refresher on-refresh="doRefresh()"></ion-refresher>		
		<div class="card">
			<div class="item item-avatar">
				<h4>Test Details<h4>
			</div>
			<div class="item item-body">
				<table>
					<tbody>	
						<tr ng-repeat="details in studentTestDetails">
							<td><div class="col col-50">{{details.test_name}}</div></td>
							<td><div class="col">{{details.test_code}}</div></td>
							<td><div class="col"><a href="#/view_test_details/{{details.test_instance_guid}}"><i class="ion-plus-circled"></i></a></div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</ion-content>
</ion-view>