<ion-view view-title="Welcome">
	<ion-content class="padding">
		<ion-refresher on-refresh="doRefresh()"></ion-refresher>		
		<div class="card">
			<div class="item item-avatar">
				<h4>Test Details<h4>
			</div>
			<div class="item item-body">
				<table>
					<tbody>	
						<tr ng-repeat="details in studentTestDetails">
							<td>{{details.test_name}}</td>
							<td>{{details.test_code}}</td>
							<td><a ng-click="goToDetails(details.test_instance_guid)">Click Here<i class="ion-plus-circled"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</ion-content>
</ion-view>