<ion-view view-title="Welcome">
	<ion-content class="padding">
		<ion-refresher on-refresh="doRefresh()">			 
		</ion-refresher>
		<div>
			<div class="scrollable">
				<div class="scrollable-content">
					<br/>
					<div class="header_sub"><h4>Fees Details<h4></div>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Fees Due<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="makePayment" ng-click="makePayment(1)">Pay</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>