<ion-view view-title="PupilPod">
	<ion-content>
		<ion-refresher on-refresh="doRefresh()"></ion-refresher>
		<div class="card">
			<div class="list card">
				<div class="item item-avatar">
					<img src="{{studentImage}}" alt="Student Image" height="80" width="80"/>
					<h2>{{studentName}}</h2>
					<!--<p>November 05, 1955</p>-->
				</div>

				<div class="item item-body">
					<table class="table table-hover">
						<tbody>
							<tr ng-repeat="details in studentDetails">
								<td>{{details.key}}</td>
								<td>{{details.value}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>